@import 'colors';

/**   Fonts    **/
// $web-headings-hero: 'web-headings-hero';
// $web-headings-movietitle: 'web-headings-movietitle';
// $web-subheadings-sm: 'web-subheadings-sm';
// $web-subheadings-m: 'web-subheadings-m';
// $web-subheadings-l:'web-subheadings-l';
// $web-body-small: 'web-body-small';
// $web-body-light: 'web-body-light';
// $web-body-regular: 'web-body-regular';
// $web-body-regular-lc: 'web-body-regular-lc';
// $web-body-regular-semibold: 'web-body-regular-semibold';
// $web-body-regular-bold: 'web-body-regular-bold';
// $web-body-regular-large: 'web-body-regular-large';
// $web-body-semibold: 'web-body-semibold';
// $web-body-bold: 'web-body-bold';
// $web-body-extrabold: 'web-body-extrabold';
// $mobile-headings-hero: 'mobile-headings-hero';
// $mobile-headings-movietitle: 'mobile-headings-movietitle';
// $mobile-subheadings: 'mobile-subheadings';
// $mobile-body-xs: 'mobile-body-xs';
// $mobile-body-small: 'mobile-body-small';
// $mobile-body-small-lc: 'mobile-body-small-lc';
// $mobile-body-small-bold: 'mobile-body-small-bold';
// $mobile-body-regular: 'mobile-body-regular';
// $mobile-body-regular-bold: 'mobile-body-regular-bold';
// $web-headings-hero: 'Archivo';
// $web-headings-movietitle: 'Archivo';
// $web-subheadings-sm: 'Archivo';
// $web-subheadings-m: 'Archivo';
// $web-subheadings-l: 'Archivo';
// $web-body-small: 'Archivo';
// $web-body-light: 'Archivo';
// $web-body-regular: 'Archivo';
// $web-body-regular-lc: 'Archivo';
// $web-body-regular-semibold: 'Archivo';
// $web-body-regular-bold: 'Archivo';
// $web-body-regular-large: 'Archivo';
// $web-body-semibold: 'Archivo';
// $web-body-bold: 'Archivo';
// $web-body-extrabold: 'Archivo';
// $mobile-headings-hero: 'Archivo';
// $mobile-headings-movietitle: 'Archivo';
// $mobile-subheadings: 'Archivo';
// $mobile-body-xs: 'Archivo';
// $mobile-body-small: 'Archivo';
// $mobile-body-small-lc: 'Archivo';
// $mobile-body-small-bold: 'Archivo';
// $mobile-body-regular: 'Archivo';
// $mobile-body-regular-bold: 'Archivo';

/**   Shadows    **/
$shadow-movie-card-main: 4px 8px 50px rgba(0, 0, 0, 0.5);
$shadow-hero-text: 0px 4px 50px #000000;
$shadow-arrow-icon: 3px 4px 4px rgba(0, 0, 0, 0.5);
$shadow-header-bar: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-tag-button-1: 0px -3px 5px #37526d, 3px 0px 5px rgba(55, 82, 109, 0.3),
	-3px 0px 5px rgba(55, 82, 109, 0.3), 3px 0px 5px rgba(55, 82, 109, 0.3);
$shadow-tag-button-2: 0px -3px 5px rgba(254, 177, 125, 0.3),
	3px 0px 5px rgba(254, 177, 125, 0.3), -3px 0px 5px rgba(254, 177, 125, 0.3),
	3px 0px 5px rgba(254, 177, 125, 0.3);
$shadow-1: 13px 37px 48px rgba(0, 0, 0, 0.22);
$shadow-2: 0px 8px 16px rgba(0, 0, 0, 0.1);
$shadow-3: 13px 37px 48px #080f13;
