/** 
* @description Color Themes from TentangFilemKita Desgin Library
*/
/** Primary **/
/** Tone **/
/** Greys **/
/** White **/
/**   Fonts    **/
/**   Shadows    **/
/**
*  @description Font Styles for Web & Mobile
*  Consist of style mixins for Headings, Subheadings & Body
*/
/**   
*	Font Face   
*/
@font-face {
  font-family: "ArchivoLight";
  src: url("../../assets/fonts/Archivo-Light.ttf");
  font-style: normal;
}
@font-face {
  font-family: "ArchivoRegular";
  src: url("../../assets/fonts/Archivo-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "ArchivoSemiBold";
  src: url("../../assets/fonts/Archivo-SemiBold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "ArchivoBold";
  src: url("../../assets/fonts/Archivo-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "ArchivoBoldItalic";
  src: url("../../assets/fonts/Archivo-BoldItalic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "ArchivoExtraBold";
  src: url("../../assets/fonts/Archivo-ExtraBold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "ArchivoBlack";
  src: url("../../assets/fonts/Archivo-Black.ttf");
  font-style: normal;
}
/**   Mixins for Web Headings   **/
/**   Mixins for Web Subheadings   **/
/**   Mixins for Web Body    **/
/**   Mixins for Mobile Headings  **/
/**   Mixins for Mobile Subheadings  **/
/**   Mixins for Mobile Body  **/
* {
  /*	CSS reset to removes default HTML margin and padding */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
:root {
  font-size: 62.5%;
  /* changes a default 16px font size to 10px */
  background-color: #151522;
  color: #f9f8ff;
}

body {
  width: 100%;
  min-height: 100vh;
}

h1 {
  /**	Hero title headings */
  font-family: "ArchivoBoldItalic";
  font-size: 3.2rem;
  line-height: 3.5rem;
}
@media only screen and (min-width: 481px) {
  h1 {
    font-family: "ArchivoBoldItalic";
    font-size: 4.8rem;
    line-height: 5.2rem;
  }
}

h2 {
  /**	Movie title (Movie Page) headings */
  font-family: "ArchivoBlack";
  font-size: 2.4rem;
  line-height: 2.6rem;
}
@media only screen and (min-width: 481px) {
  h2 {
    font-family: "ArchivoBlack";
    font-size: 3.6rem;
    line-height: 3.9rem;
  }
}

h3 {
  /**	Landing Page Features headings */
  font-family: "ArchivoBlack";
  font-size: 2rem;
  line-height: 2.2rem;
}
@media only screen and (min-width: 481px) {
  h3 {
    font-family: "ArchivoBlack";
    font-size: 2.8rem;
    line-height: 3rem;
  }
}

h4 {
  /**	Landing Page view more link headings */
  font-family: "ArchivoBold";
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #6768ab;
}
@media only screen and (min-width: 481px) {
  h4 {
    font-family: "ArchivoBold";
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h5 {
  /**	Movie Page & Persona Page headings */
  font-family: "ArchivoBold";
  font-size: 1.6rem;
  line-height: 1.7rem;
}
@media only screen and (min-width: 481px) {
  h5 {
    font-family: "ArchivoBold";
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h6 {
  /**	Movie List headings */
  font-family: "ArchivoBold";
  font-size: 1.6rem;
  line-height: 1.7rem;
}
@media only screen and (min-width: 481px) {
  h6 {
    font-family: "ArchivoSemiBold";
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

p {
  font-family: "ArchivoRegular";
  font-size: 1.6rem;
  line-height: 2rem;
}

.logo {
  width: 10.4rem;
  height: 5.3rem;
}
@media only screen and (min-width: 481px) {
  .logo {
    width: 17.9rem;
    height: 9rem;
  }
}/*# sourceMappingURL=global.css.map */