@import '../../assets/scss/global-imports';

.hero {
	width: 100%;
	height: 26rem;
	// background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
	// 	url('../../assets/images/mechamato movie poster new.jpg'),
	// 	no-repeat center;
	// position: relative;
	// background-size: cover;
	// background-position: 0 50%;
	position: relative;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

	@include web-viewport {
		height: 49.7rem;
	}
}

.hero .container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3rem 1.6rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
	z-index: 0;

	@include web-viewport {
		display: inline-flex;
		gap: 0;
		padding: 0 4.5rem;
	}
}

.hero img {
	position: relative;
	display: block;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0 28%;
}

.hero .container .arrow-icon {
	width: auto;
	height: 3.2rem;
	@include web-viewport {
		width: auto;
		height: 5rem;
	}
}

.hero-content,
.hero-text-content {
	display: flex;
	flex-direction: column;
}

.hero-content {
	gap: 1rem;

	@include tablet-viewport {
		width: 50%;
	}

	@include web-viewport {
		width: 30%;
		gap: 3.5rem;
		margin-left: 4.7rem;
		margin-right: auto;
	}
}

.hero-text-content {
	gap: 1rem;

	@include web-viewport {
		gap: 1.6rem;
	}
}

.hero-title {
	@include font-mobile-headings-hero;
	text-transform: uppercase;
	text-shadow: $shadow-hero-text;

	@include web-viewport {
		@include font-web-headings-hero;
	}
}

.hero-description,
.text-view-details {
	@include font-mobile-body-small-lc;
	line-height: 1.8rem;
	text-shadow: $shadow-hero-text;

	@include web-viewport {
		@include font-web-body-regular;
	}
}

.text-view-details {
	color: $tone-second;
}
